[submodule "DOOMSaveManagerLinux"]
	path = DOOMSaveManagerLinux
	url = https://github.com/PowerBall253/DOOMSaveManagerLinux.git
[submodule "linoodle"]
	path = linoodle
	url = https://github.com/PowerBall253/linoodle.git
[submodule "idCryptRust"]
	path = idCryptRust
	url = https://github.com/PowerBall253/idCryptRust.git
[submodule "EternalModLoaderCpp"]
	path = EternalModLoaderCpp
	url = https://github.com/PowerBall253/EternalModLoaderCpp.git
[submodule "EternalPatcherLinux"]
	path = EternalPatcherLinux
	url = https://github.com/PowerBall253/EternalPatcherLinux.git
[submodule "idRehashLinux"]
	path = idRehashLinux
	url = https://github.com/PowerBall253/idRehashLinux.git
[submodule "EternalPatchManifestLinux"]
	path = EternalPatchManifestLinux
	url = https://github.com/PowerBall253/EternalPatchManifestLinux.git
[submodule "EternalResourceExtractor"]
	path = EternalResourceExtractor
	url = https://github.com/PowerBall253/EternalResourceExtractor.git
[submodule "EternalAudioExtractorLinux"]
	path = EternalAudioExtractorLinux
	url = https://github.com/PowerBall253/EternalAudioExtractorLinux.git
[submodule "EternalModManager"]
	path = EternalModManager
	url = https://github.com/PowerBall253/EternalModManager.git
[submodule "DivinityMachine"]
	path = DivinityMachine
	url = https://github.com/PowerBall253/DivinityMachine.git
[submodule "AutoHeckinTextureConverter"]
	path = AutoHeckinTextureConverter
	url = https://github.com/PowerBall253/AutoHeckinTextureConverter.git
