[submodule "DOOMSaveManagerLinux"]
	path = DOOMSaveManagerLinux
	url = https://github.com/PowerBall253/DOOMSaveManagerLinux.git
[submodule "idCryptRust"]
	path = idCryptRust
	url = https://github.com/PowerBall253/idCryptRust.git
[submodule "EternalModLoaderCpp"]
	path = EternalModLoaderCpp
	url = https://github.com/PowerBall253/EternalModLoaderCpp.git
[submodule "EternalResourceExtractor"]
	path = EternalResourceExtractor
	url = https://github.com/PowerBall253/EternalResourceExtractor.git
[submodule "EternalAudioExtractorLinux"]
	path = EternalAudioExtractorLinux
	url = https://github.com/PowerBall253/EternalAudioExtractorLinux.git
[submodule "AutoHeckinTextureConverter"]
	path = AutoHeckinTextureConverter
	url = https://github.com/PowerBall253/AutoHeckinTextureConverter.git
[submodule "EternalModManager-Avalonia"]
	path = EternalModManager-Avalonia
	url = https://github.com/PowerBall253/EternalModManager-Avalonia.git
[submodule "ooz"]
	path = ooz
	url = https://github.com/PowerBall253/ooz.git
