[submodule "EternalPatcherCLI"]
	path = EternalPatcherCLI
	url = https://github.com/PowerBall253/EternalPatcherCLI.git
[submodule "idRehashLinux"]
	path = idRehashLinux
	url = https://github.com/PowerBall253/idRehashLinux.git
[submodule "idRehashCSharp"]
	path = idRehashCSharp
	url = https://github.com/PowerBall253/idRehashCSharp.git
[submodule "EternalModLoaderCpp"]
	path = EternalModLoaderCpp
	url = https://github.com/PowerBall253/EternalModLoaderCpp.git
